<meta charset="utf-8">
<title>bwb - {{ page.title }}</title>
<link href="{{ site.base_url }}/base.css" rel="stylesheet" type="text/css">
<!-- look at this favicon. it's an svg! -->
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⁂</text></svg>">
