<div id="logo">
  <h2>bwb</h2>
</div>

<div id="navigation">
  <div class="elem"><a href = "/">home</a></div>
  <div class="elem"><a href = "https://twitter.com/Brittain_Ben">twitter</a></div>
  <div class="elem"><a href = "https://github.com/benbrittain/">github</a></div>
  <div class="elem"><a href = "/about.html">about</a></div>
</div>

<div id="dinkus">⁂</div>

